<link rel="stylesheet" type="text/css" href="/static/css/header.css">
<script type="text/javascript" src="/static/javascript/header.js"></script>
<script type="text/javascript">
  check_login_status();
</script>
<header class="header">
  <nav class="header-nav">
    <div class="header-nav-inner">
      <div class="header-nav-menu">
        <a href="/watch">
          <div class="header-nav-menu-item">
            <div class="header-nav-menu-item__link">
              围观
            </div>
          </div>
        </a>
        <a href="/write">
          <div class="header-nav-menu-item">
            <div class="header-nav-menu-item__link">
              写点
            </div>
          </div>
        </a>
        <a href="/examine">
          <div class="header-nav-menu-item" id="header-examine" style="display: none">
            <div class="header-nav-menu-item__link">
              审核
            </div>
          </div>
        </a>
        <a href="/manage">
          <div class="header-nav-menu-item" id="header-management" style="display: none">
            <div class="header-nav-menu-item__link">
              管理
            </div>
          </div>
        </a>
      </div>
      <div class="header-nav-user">
        <a href="/register">
          <div class="header-nav-user-item">
            <div class="header-nav-user-item__link">
              注册
            </div>
          </div>
        </a>
        <a href="/login" id="login-or-user-a">
          <div class="header-nav-user-item">
            <div class="header-nav-user-item__link" id="login-or-user-text">
              登录
            </div>
          </div>
        </a>
      </div>
    </div>
  </nav>
</header>