<link rel="stylesheet" type="text/css" href="/static/css/header.css">
<script type="text/javascript" src="/static/javascript/header.js"></script>
<script type="text/javascript">
  check_login_status();
</script>
<header class="header">
  <nav class="header-nav">
    <div class="header-nav-inner">
      <div class="header-nav-menu">
        <div class="header-nav-menu-item">
          <a href="/watch" class="header-nav-menu-item__link">
            围观
          </a>
        </div>
        <div class="header-nav-menu-item">
          <a href="/write" class="header-nav-menu-item__link">
            写点
          </a>
        </div>
        <div class="header-nav-menu-item" id="header-examine" style="display: none">
          <a href="/examine" class="header-nav-menu-item__link">
            审核
          </a>
        </div>
        <div class="header-nav-menu-item" id="header-management" style="display: none">
          <a href="/manage" class="header-nav-menu-item__link">
            管理
          </a>
        </div>
      </div>
      <div class="header-nav-user">
        <div class="header-nav-user-item">
          <a href="/register" class="header-nav-user-item__link">
            注册
          </a>
        </div>
        <div class="header-nav-user-item">
          <a href="/login" class="header-nav-user-item__link" id="login-or-user">
            登录
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>